* {
  
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  /* background: blue; */
  margin: 0;
  overflow-y: scroll;
}

.logo--button {
  border-radius: 50%;
  max-height: 10vh;
  max-width: 6.25rem;
  padding: 1vh;
}

.navbar--search--container {
  padding-right: 0.625rem;
  margin-left: auto;
}

.search--page--container {
  margin-left: auto;
  width: 500px;
}