* {
  
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  /* background: blue; */
  margin: 0;
}

.logo--button {
  border-radius: 50%;
  max-height: 100%;
  max-width: 100px;
  flex-shrink: 0;
}

.search--container {
  padding-right: 10px;
}

.nav--hidden {
  display: none;
}
