* {
  
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  /* background: blue; */
  margin: 0;
  overflow-y: scroll;
}

.logo--button {
  border-radius: 50%;
  max-height: 10vh;
  max-width: 6.25rem;
  padding: 1vh;
}

.navbar--search--container {
  padding-right: 0.625rem;
  margin-left: auto;
}

.search--page--container {
  margin-left: auto;
  width: 500px;
}

.search--Results{
  padding: 0.5rem;
}

.search--Result--Container {
  display: flex;
  flex-direction: row;
  border: solid #8a8787 0.01rem;
  border-radius: 5vw;
  padding: 0.3rem;
  margin: 0.2rem;
}

.search--Result--Img {
  width: 32vw;
  border-radius: 5vw;
}

.search--Result--text{
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-left: 0.5rem
}

.login--container {
  max-width: 75%;
  margin-right: 12.5%;
  margin-left: 12.5%;
  margin-top: 17vh;
}

.carousel-container {
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

@media (max-width: 768px) {
  .carousel-container {
    max-width: 39.125rem;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .items-display {
    margin-top: 0rem;
    margin-bottom: 6rem;
  }
  .carousel-container {
    max-width: 28.25rem;
  }
}

.items-display {
  margin-top: 4rem;
  margin-bottom: 9rem;
}